body {
  font-family: Helvetica, sans-serif;
  background-image: url("../pages/photo/photo9.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-size: 170%;
  text-decoration: underline;
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
}

a {
  background-color: burlywood;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

a:hover, a:active {
  background-color: red;
}